CRM4telecom/CRM4telecom-war/src/conf/xml-resources/web-service-references/schema/wsdl/schema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="services" targetNamespace="http://soap.crm4telecom.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://soap.crm4telecom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://soap.crm4telecom.com/" schemaLocation="services.xsd"/>
    </xsd:schema>
  </types>
  <message name="withdrawResponse">
    <part name="parameters" element="tns:withdrawResponse">
    </part>
  </message>
  <message name="addMoney">
    <part name="parameters" element="tns:addMoney">
    </part>
  </message>
  <message name="getBalanceResponse">
    <part name="parameters" element="tns:getBalanceResponse">
    </part>
  </message>
  <message name="withdraw">
    <part name="parameters" element="tns:withdraw">
    </part>
  </message>
  <message name="getBalance">
    <part name="parameters" element="tns:getBalance">
    </part>
  </message>
  <message name="addMoneyResponse">
    <part name="parameters" element="tns:addMoneyResponse">
    </part>
  </message>
  <portType name="Billing">
    <operation name="addMoney">
      <input message="tns:addMoney" wsam:Action="http://soap.crm4telecom.com/Billing/addMoneyRequest">
    </input>
      <output message="tns:addMoneyResponse" wsam:Action="http://soap.crm4telecom.com/Billing/addMoneyResponse">
    </output>
    </operation>
    <operation name="withdraw">
      <input message="tns:withdraw" wsam:Action="http://soap.crm4telecom.com/Billing/withdrawRequest">
    </input>
      <output message="tns:withdrawResponse" wsam:Action="http://soap.crm4telecom.com/Billing/withdrawResponse">
    </output>
    </operation>
    <operation name="getBalance">
      <input message="tns:getBalance" wsam:Action="http://soap.crm4telecom.com/Billing/getBalanceRequest">
    </input>
      <output message="tns:getBalanceResponse" wsam:Action="http://soap.crm4telecom.com/Billing/getBalanceResponse">
    </output>
    </operation>
  </portType>
  <binding name="BillingPortBinding" type="tns:Billing">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addMoney">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="withdraw">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="services">
    <port name="BillingPort" binding="tns:BillingPortBinding">
      <soap:address location="http://wawiloncomp:8088/mockBillingPortBinding"/>
    </port>
  </service>
</definitions>
