CRM4telecom/CRM4telecom-war/src/conf/xml-resources/web-service-references/schema/wsdl/services.xsd

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown.--><xs:schema version="1.0" targetNamespace="http://soap.crm4telecom.com/" xmlns:tns="http://soap.crm4telecom.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addMoney" type="tns:addMoney"/>
  <xs:element name="addMoneyResponse" type="tns:addMoneyResponse"/>
  <xs:element name="getBalance" type="tns:getBalance"/>
  <xs:element name="getBalanceResponse" type="tns:getBalanceResponse"/>
  <xs:element name="withdraw" type="tns:withdraw"/>
  <xs:element name="withdrawResponse" type="tns:withdrawResponse"/>
  <xs:complexType name="getBalance">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBalanceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="withdraw">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="cash" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="withdrawResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addMoney">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="cash" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addMoneyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>