CRM4telecom/CRM4telecom-war/web/WEB-INF/wsdl/schema.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://util.web.crm4telecom.com/" name="schema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://util.web.crm4telecom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://util.web.crm4telecom.com/" schemaLocation="services.xsd"/>
    </xsd:schema>
  </types>
  <message name="removeCustomer">
    <part name="parameters" element="tns:removeCustomer"/>
  </message>
  <message name="removeCustomerResponse">
    <part name="parameters" element="tns:removeCustomerResponse"/>
  </message>
  <message name="addCustomer">
    <part name="parameters" element="tns:addCustomer"/>
  </message>
  <message name="addCustomerResponse">
    <part name="parameters" element="tns:addCustomerResponse"/>
  </message>
  <message name="addProduct">
    <part name="parameters" element="tns:addProduct"/>
  </message>
  <message name="addProductResponse">
    <part name="parameters" element="tns:addProductResponse"/>
  </message>
  <message name="removeProduct">
    <part name="parameters" element="tns:removeProduct"/>
  </message>
  <message name="removeProductResponse">
    <part name="parameters" element="tns:removeProductResponse"/>
  </message>
  <message name="getBalance">
    <part name="parameters" element="tns:getBalance"/>
  </message>
  <message name="getBalanceResponse">
    <part name="parameters" element="tns:getBalanceResponse"/>
  </message>
  <message name="getMoney">
    <part name="parameters" element="tns:getMoney"/>
  </message>
  <message name="getMoneyResponse">
    <part name="parameters" element="tns:getMoneyResponse"/>
  </message>
  <portType name="NewWebService">
    <operation name="removeCustomer">
      <input wsam:Action="http://util.web.crm4telecom.com/NewWebService/removeCustomerRequest" message="tns:removeCustomer"/>
      <output wsam:Action="http://util.web.crm4telecom.com/NewWebService/removeCustomerResponse" message="tns:removeCustomerResponse"/>
    </operation>
    <operation name="addCustomer">
      <input wsam:Action="http://util.web.crm4telecom.com/NewWebService/addCustomerRequest" message="tns:addCustomer"/>
      <output wsam:Action="http://util.web.crm4telecom.com/NewWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
    </operation>
    <operation name="addProduct">
      <input wsam:Action="http://util.web.crm4telecom.com/NewWebService/addProductRequest" message="tns:addProduct"/>
      <output wsam:Action="http://util.web.crm4telecom.com/NewWebService/addProductResponse" message="tns:addProductResponse"/>
    </operation>
    <operation name="removeProduct">
      <input wsam:Action="http://util.web.crm4telecom.com/NewWebService/removeProductRequest" message="tns:removeProduct"/>
      <output wsam:Action="http://util.web.crm4telecom.com/NewWebService/removeProductResponse" message="tns:removeProductResponse"/>
    </operation>
    <operation name="getBalance">
      <input wsam:Action="http://util.web.crm4telecom.com/NewWebService/getBalanceRequest" message="tns:getBalance"/>
      <output wsam:Action="http://util.web.crm4telecom.com/NewWebService/getBalanceResponse" message="tns:getBalanceResponse"/>
    </operation>
    <operation name="getMoney">
      <input wsam:Action="http://util.web.crm4telecom.com/NewWebService/getMoneyRequest" message="tns:getMoney"/>
      <output wsam:Action="http://util.web.crm4telecom.com/NewWebService/getMoneyResponse" message="tns:getMoneyResponse"/>
    </operation>
  </portType>
  <binding name="NewWebServicePortBinding" type="tns:NewWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="removeCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMoney">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NewWebService">
    <port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

