CRM4telecom/CRM4telecom-war/web/WEB-INF/wsit-com.crm4telecom.soap.Billing.xml

<?xml version="1.0" encoding="UTF-8"?> 
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="services" targetNamespace="http://soap.crm4telecom.com/" xmlns:tns="http://soap.crm4telecom.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
>
    <message name="getBalance"/>
    <message name="getBalanceResponse"/>
    <message name="addMoney"/>
    <message name="addMoneyResponse"/>
    <message name="withdraw"/>
    <message name="withdrawResponse"/>
    <message name="addProduct"/>
    <message name="addProductResponse"/>
    <message name="addCustomer"/>
    <message name="addCustomerResponse"/>
    <message name="getStatuses"/>
    <message name="getStatusesResponse"/>
    <message name="removeProduct"/>
    <message name="removeProductResponse"/>
    <portType name="Billing">
        <operation name="getBalance">
            <input message="tns:getBalance"/>
            <output message="tns:getBalanceResponse"/>
        </operation>
        <operation name="addMoney">
            <input message="tns:addMoney"/>
            <output message="tns:addMoneyResponse"/>
        </operation>
        <operation name="withdraw">
            <input message="tns:withdraw"/>
            <output message="tns:withdrawResponse"/>
        </operation>
        <operation name="addProduct">
            <input message="tns:addProduct"/>
            <output message="tns:addProductResponse"/>
        </operation>
        <operation name="addCustomer">
            <input message="tns:addCustomer"/>
            <output message="tns:addCustomerResponse"/>
        </operation>
        <operation name="getStatuses">
            <input message="tns:getStatuses"/>
            <output message="tns:getStatusesResponse"/>
        </operation>
        <operation name="removeProduct">
            <input message="tns:removeProduct"/>
            <output message="tns:removeProductResponse"/>
        </operation>
    </portType>
    <binding name="BillingPortBinding" type="tns:Billing">
        <operation name="getBalance">
            <input></input>
            <output></output>
        </operation>
        <operation name="addMoney">
            <input></input>
            <output></output>
        </operation>
        <operation name="withdraw">
            <input></input>
            <output></output>
        </operation>
        <operation name="addProduct">
            <input/>
            <output/>
        </operation>
        <operation name="addCustomer">
            <input/>
            <output/>
        </operation>
        <operation name="getStatuses">
            <input/>
            <output/>
        </operation>
        <operation name="removeProduct">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="services">
        <port name="BillingPort" binding="tns:BillingPortBinding"/>
    </service>
</definitions>
