CRM4telecom/CRM4telecom-ejb/src/conf/wsdl/localhost_8080/CRM4telecom_stub-war/services.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://soap.crm4telecom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://soap.crm4telecom.com/" name="services">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://soap.crm4telecom.com/" schemaLocation="http://localhost:8080/CRM4telecom_stub-war/services?xsd=1"/>
    </xsd:schema>
  </types>
  <message name="addMoney">
    <part name="parameters" element="tns:addMoney"/>
  </message>
  <message name="addMoneyResponse">
    <part name="parameters" element="tns:addMoneyResponse"/>
  </message>
  <message name="withdraw">
    <part name="parameters" element="tns:withdraw"/>
  </message>
  <message name="withdrawResponse">
    <part name="parameters" element="tns:withdrawResponse"/>
  </message>
  <message name="addProduct">
    <part name="parameters" element="tns:addProduct"/>
  </message>
  <message name="addProductResponse">
    <part name="parameters" element="tns:addProductResponse"/>
  </message>
  <message name="getBalance">
    <part name="parameters" element="tns:getBalance"/>
  </message>
  <message name="getBalanceResponse">
    <part name="parameters" element="tns:getBalanceResponse"/>
  </message>
  <message name="addCustomer">
    <part name="parameters" element="tns:addCustomer"/>
  </message>
  <message name="addCustomerResponse">
    <part name="parameters" element="tns:addCustomerResponse"/>
  </message>
  <message name="removeProduct">
    <part name="parameters" element="tns:removeProduct"/>
  </message>
  <message name="removeProductResponse">
    <part name="parameters" element="tns:removeProductResponse"/>
  </message>
  <message name="getStatuses">
    <part name="parameters" element="tns:getStatuses"/>
  </message>
  <message name="getStatusesResponse">
    <part name="parameters" element="tns:getStatusesResponse"/>
  </message>
  <portType name="BillingWebService">
    <operation name="addMoney">
      <input wsam:Action="http://soap.crm4telecom.com/BillingWebService/addMoneyRequest" message="tns:addMoney"/>
      <output wsam:Action="http://soap.crm4telecom.com/BillingWebService/addMoneyResponse" message="tns:addMoneyResponse"/>
    </operation>
    <operation name="withdraw">
      <input wsam:Action="http://soap.crm4telecom.com/BillingWebService/withdrawRequest" message="tns:withdraw"/>
      <output wsam:Action="http://soap.crm4telecom.com/BillingWebService/withdrawResponse" message="tns:withdrawResponse"/>
    </operation>
    <operation name="addProduct">
      <input wsam:Action="http://soap.crm4telecom.com/BillingWebService/addProductRequest" message="tns:addProduct"/>
      <output wsam:Action="http://soap.crm4telecom.com/BillingWebService/addProductResponse" message="tns:addProductResponse"/>
    </operation>
    <operation name="getBalance">
      <input wsam:Action="http://soap.crm4telecom.com/BillingWebService/getBalanceRequest" message="tns:getBalance"/>
      <output wsam:Action="http://soap.crm4telecom.com/BillingWebService/getBalanceResponse" message="tns:getBalanceResponse"/>
    </operation>
    <operation name="addCustomer">
      <input wsam:Action="http://soap.crm4telecom.com/BillingWebService/addCustomerRequest" message="tns:addCustomer"/>
      <output wsam:Action="http://soap.crm4telecom.com/BillingWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
    </operation>
    <operation name="removeProduct">
      <input wsam:Action="http://soap.crm4telecom.com/BillingWebService/removeProductRequest" message="tns:removeProduct"/>
      <output wsam:Action="http://soap.crm4telecom.com/BillingWebService/removeProductResponse" message="tns:removeProductResponse"/>
    </operation>
    <operation name="getStatuses">
      <input wsam:Action="http://soap.crm4telecom.com/BillingWebService/getStatusesRequest" message="tns:getStatuses"/>
      <output wsam:Action="http://soap.crm4telecom.com/BillingWebService/getStatusesResponse" message="tns:getStatusesResponse"/>
    </operation>
  </portType>
  <binding name="BillingPortBinding" type="tns:BillingWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addMoney">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="withdraw">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStatuses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="services">
    <port name="BillingPort" binding="tns:BillingPortBinding">
      <soap:address location="http://localhost:8080/CRM4telecom_stub-war/services"/>
    </port>
  </service>
</definitions>