CRM4telecom/CRM4telecom-war/web/WEB-INF/wsdl/localhost_8080/CRM4telecom-war/services.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.crm4telecom.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.crm4telecom.com/">

<xs:element name="getBalance" type="tns:getBalance"/>

<xs:element name="getBalanceResponse" type="tns:getBalanceResponse"/>

<xs:complexType name="getBalance">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBalanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:schema>